
<!-- start title area -->
<section id="titleArea">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>My Dashboard</h2>
      </div>
    </div>
  </div>
</section>
<!-- end title area -->

<!-- start process area -->
<section id="processArea">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6">

        <div class="btn-group btn-group-lg" role="group" aria-label="...">
          <%= form_for Game.new do |f| %>
            <%= f.submit "New Game" %>
            <%= f.check_box :keep_private, checked_value: true %><span>Private Game</span>
          <% end %>
        </div><p></p>
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <form id = "game-form" method="get" action="/games/">
              <div class="input-group">
                <input type="text" name="game_number" class="form-control" placeholder="Enter room ID">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="submit">Join Game</button>
                </span>
              </div><!-- /input-group -->
            </form>
          </div><!-- /.col-md-6 -->
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <% if @games %>
          <h2>Public Games Open</h2>
          <ul id="game-list">
            <% @games.each do |game| %>
              <a id="game-<%=game.id%>" href="http://localhost:3000/games/<%=game.id%>"><%=game.owner.name%>'s Game</a>
              <% end %>
          </ul>
        <% end %>
      </div>
      <div class="col-md-4 col-sm-6">
        <h2>Game History</h2>
        <%= render @user.games.where(status: :finished) %>
      </div>
    </div>
  </div>
</section>

<script>
App.cable.subscriptions.create({channel: "OverviewChannel"}, {
  received: (data) => {
    console.log(data);
    let gameList = $('#game-list');
    if (data.open_game && data.open_game.game.keep_private === 0){
      let owner = data.open_game.owner;
      let game = data.open_game.game;
      gameList.append($('<a>').text(owner.name + "'s Game").attr({id: `game-${game.id}`, href: `http://localhost:3000/games/${game.id}`}));
    } else if (data.close_game && (data.close_game.game.status === 'active' || data.close_game.game.status === 'finished')) {
      let game = data.close_game.game;
      gameList.find(`#game-${game.id}`).remove();
    }
  }
})


</script>
