
<!-- start title area -->
<section id="titleArea">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>My Dashboard</h2>
      </div>
    </div>
  </div>
</section>
<!-- end title area -->

<!-- start process area -->
<section id="processArea">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6">

        <div class="btn-group btn-group-lg" role="group" aria-label="...">
          <%= form_for Game.new do |f| %>             
            <%= f.submit "New Game" %>
            <%= f.check_box :keep_private, checked_value: true %><span>Private Game</span>
          <% end %>
        </div><p></p>
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <form id = "game-form" method="get" action="/games/">
              <div class="input-group">
                <input type="text" name="game_number" class="form-control" placeholder="Enter room ID">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="submit">Join Game</button>
                </span>
              </div><!-- /input-group -->
            </form>
          </div><!-- /.col-md-6 -->
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <% if @games %>
          <h2>Public Games Open</h2>
          <ul class="game-list">
            <% @games.each do |game| %>
              <a id="game-<%=game.id%>" href="http://localhost:3000/games/<%=game.id%>"><%=game.owner.name%>'s Game</a>
              <% end %>
          </ul>
        <% end %>
      </div>
      <div class="col-md-4 col-sm-6">
        <% if @topscores %>
          <h2>Top Players Today</h2>
          <ul class="scoreboard">
             <% @topscores.each do |player| %> 
              <li id="user-<%=player[0].id%>" data-score-field="<%=player[1]%>"><span id="user-score-<%=player[0].id%>"> <%=player[1]%></span> by <%=player[0].name%>!</li>
               <% end %> 
          </ul>
        <% end %>
      </div>
      <div class="col-md-4 col-sm-6">
        <h2>Game History</h2>
        <%= render @user.games.where(status: :finished) %>
      </div>
    </div>
  </div>
</section>

<script>
var updateBoard = function() {
  var $scoreboard = $('ul.scoreboard'),
    $userli = $scoreboard.children('li');

  $userli.sort(function(a,b){
    var an = a.getAttribute('data-score-field'),
      bn = b.getAttribute('data-score-field');

    if(an > bn) {
      return -1;
    }
    if(an < bn) {
      return 1;
    }
    return 0;
  });

  $userli.detach().appendTo($scoreboard);
};
updateBoard();

App.cable.subscriptions.create({channel: "OverviewChannel"}, {
  received: (data) => {
    let gameList = $('.game-list');
    if (data.open_game && data.open_game.game.keep_private === 0){
      let owner = data.open_game.owner;
      let game = data.open_game.game;
      gameList.append($('<a>').text(owner.name + "'s Game").attr({id: `game-${game.id}`, href: `http://localhost:3000/games/${game.id}`}));
    } else if (data.close_game && (data.close_game.game.status === 'active' || data.close_game.game.status === 'finished')) {
      let game = data.close_game.game;
      gameList.find(`#game-${game.id}`).remove();
    }
    if (data.update_scores){
      let message = data.update_scores;
      if ($("#user-score-"+message.user.id).length) {
        $("#user-"+message.user.id).attr("data-score-field", function(i, oldval){
        return parseInt( oldval, 10) + parseInt(message.new_score)});
        $("#user-score-"+message.user.id).text(function(i, oldval){
        return parseInt( oldval, 10) + parseInt(message.new_score)});
        
        updateBoard();

      } else{
        let message = data.update_scores;
        let scoreboard = $(".scoreboard");
        scoreboard.append($('<li>').html(`<span id="user-score-${message.user.id}">${message.new_score}</span> by ${message.user.name}!`).data('score-field',`${message.user.score}`));
        updateBoard();
      }
    }
  }
})


</script>
