<div class="content-wrapper">
  <div class="container">
    <section class="content-header">
      <h1>Dashboard</h1>
    </section>
    <section class="content">
      <div class="callout callout-danger">
        <h4>Welcome <%= current_user.first_name %></h4>
        <p>Start a New Public or Private Trivia Game, or join a game</p>
      </div>
      <div class ="row">
        <div class="col-md-6 col-sm-3 text-right">
         <%= form_for Game.new do |f| %>             
              <%= f.submit "New Public Game" ,:class => 'btn btn btn-success'%>
              <%= f.check_box :keep_private, checked_value: true %><span>Private Game</span>
            <% end %>
        </div>
        <p></p>
        <div class="col-md-6 col-sm-3">
          <form id = "game-form" method="get" action="/games/">
            <div class="input-group">
              <input type="text" name="game_number" class="form-control" placeholder="Enter room ID">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="submit">Join Game</button>
                </span>
            </div><!-- /input-group -->
          </form>
        </div><!-- /.col-md-6 -->
      </div>
      <p></p>
      <div class ="row">
        <div class="col-md-6">
          <div class="box box-danger">
            <div class="box-header with-border">
              <h3 class="box-title">Public Games</h3>
            </div>
            <div class="box-body no-padding">
              <ul class="users-list clearfix" id = "game-list">

                <% @games.each do |game| %>
                <li> <a id="game-<%=game.id%>" href="/games/<%=game.id%>">
                  <%= image_tag game.owner.image, class: "img-circle" %></a>
                  <span class="users-list-name"><%= game.owner.first_name %></span>
                <% end %>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box box-default">
            <div class="box-header with-border">
              <h3 class="box-title">Game History</h3>
            </div>
            <div class="box-body">
              <div class="chart-responsive">
                <%= pie_chart (@win_loss), width: "100%", height: "100%"%>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <div class="box box-danger">
            <div class="box-header with-border">
              <h3 class="box-title">Top Players Today</h3>
            </div>
            <% if @topscores %>
              <ul class="scoreboard">
                <% @topscores.each do |player| %> 
                  <li id="user-<%=player[0].id%>" data-score-field="<%=player[1]%>">
                    <span id="user-score-<%=player[0].id%>"> <%=player[1]%></span> by <%=player[0].name%>!
                  </li>
                <% end %> 
              </ul>
            <% end %>
          </div>
          <div class="col-md-4 col-sm-6">
            <h2>Game History</h2>
            <%= render @user.games.where(status: :finished).limit(5) %>
            <%= pie_chart (@win_loss), width: "400px", height: "400px"%>
          </div>
    </section>
        </div>
</div>



<script>
var updateBoard = function() {
  var $scoreboard = $('ul.scoreboard'),
      $userli = $scoreboard.children('li');

  $userli.sort(function(a,b){
    var an = a.getAttribute('data-score-field'),
        bn = b.getAttribute('data-score-field');

    if(an > bn) {
      return -1;
    }
    if(an < bn) {
      return 1;
    }
    return 0;
  });

  $userli.detach().appendTo($scoreboard);
};
updateBoard();

App.cable.subscriptions.create({channel: "OverviewChannel"}, {
  received: (data) => {
    let gameList = $('#game-list');
    if (data.open_game && data.open_game.game.keep_private === 0){
      game_id = data.open_game.game.id;
      owner_name = data.open_game.owner_name;
      avatar_url = data.open_game.owner.image;
      gameList.append(`<li> <a id=game-${game_id}' href='/games/${game_id}'> 
          <image src=${avatar_url} class="img-circle"></a> 
          <span class='users-list-name'>${ owner_name } </span> </li>`);
    } else if (data.close_game && (data.close_game.game.status === 'active' || data.close_game.game.status === 'finished')) {
      let game = data.close_game.game;
      gameList.find(`#game-${game.id}`).remove();
    }
    if (data.update_scores){
      let message = data.update_scores;
      if ($("#user-score-"+message.user.id).length) {
        $("#user-"+message.user.id).attr("data-score-field", function(i, oldval){
        return parseInt( oldval, 10) + parseInt(message.new_score)});
        $("#user-score-"+message.user.id).text(function(i, oldval){
        return parseInt( oldval, 10) + parseInt(message.new_score)});
        
        updateBoard();

      } else{
        let message = data.update_scores;
        let scoreboard = $(".scoreboard");
        scoreboard.append($('<li>').html(`<span id="user-score-${message.user.id}">${message.new_score}</span> by ${message.user.name}!`).data('score-field',`${message.user.score}`));
        updateBoard();
      }
    }
  }
})


</script>
