<section class="slider">
  <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div class="item active"> <%=image_tag('front3.png')%>        <div class="container">
          <div class="carousel-caption">
          <div class="row"> 
               <div class="col-md-6 col-sm-4 ">
               



         <a class="btn btn-large btn-danger" href="#">
  <i class="icon-flag icon-2x pull-left"></i> Font Awesome<br>Version 3.2.1</a>
              <!--    <p><a class="btn-circle" href="#" role="button">get started</a><a class="btn-circle" href="#" role="button">read more</a></p> -->
              </div>
              <div class="col-md-6 col-sm-4">
          
           <% if @topscores %>
            <ul id="scoreboard" class="list-group" style="width:100%;text-align:left;padding:1px;">
             <% @topscores.each do |player| %> 
              <li class="list-group-item" id="user-<%=player[0].id%>" data-score-field="<%=player[1]%>"><h5><%= image_tag(player[0].image, class: "img-circle", size: 40)%>&nbsp;&nbsp;&nbsp;  <span class="label label-warning"><%=player[0].name%>  <span class="badge" id="user-score-<%=player[0].id%>"><%=player[1]%></span></span> </h5></li>
              <% end %> 
            </ul>
          <% end %>
              </div>
             
            </div>
          </div>
        </div>
      </div>
   </div>
</section>





<script>
updateBoard();

App.cable.subscriptions.create({channel: "OverviewChannel"}, {
  received: (data) => {
    let gameList = $('.game-list');
    if (data.open_game && data.open_game.game.keep_private === 0){
      let owner = data.open_game.owner;
      let game = data.open_game.game;
      gameList.append($('<a>').text(owner.name + "'s Game").attr({id: `game-${game.id}`, href: `/games/${game.id}`}));
    } else if (data.close_game && (data.close_game.game.status === 'active' || data.close_game.game.status === 'finished')) {
      let game = data.close_game.game;
      gameList.find(`#game-${game.id}`).remove();
    }
    if (data.update_scores){
      let message = data.update_scores;
      if ($("#user-score-"+message.user.id).length) {
        $("#user-"+message.user.id).attr("data-score-field", function(i, oldval){
        return parseInt( oldval, 10) + parseInt(message.new_score)});
        $("#user-score-"+message.user.id).text(function(i, oldval){
        return parseInt( oldval, 10) + parseInt(message.new_score)});
        
        updateBoard();

      } else{
        let message = data.update_scores;
        let scoreboard = $("#scoreboard");
        scoreboard.append($('<li>').html(`<span id="user-score-${message.user.id}">${message.new_score}</span> by ${message.user.name}!`).data('score-field',`${message.user.score}`));
        updateBoard();
      }
    }
  }
})
</script>
