<div class="container">
  <h3>Game ID: <%= @game.id %></h3>
  <h1>
    Welcome to <%=@game.owner.first_name %>'s game!
  </h1>

  <% if @game.pending? %>
    <section id="controls" class="col-md-6 col-md-offset-0">
      <% if @game.owner == current_user %>
        <%= button_to "Start the game!", game_play_game_path(@game), method: :get %>
      <% else %>
        <% if @player %>
          <%= button_to "Leave this game!", game_player_path(@game, @player), method: :delete %>
        <% else %>
          <%= button_to "Join this game!", game_players_path(@game) %>
        <% end %>
      <% end %>
    </section>
    <section id="wait-list">
 
      <h2>Currently Waiting Players:</h2>
      <ul id="player-list">
        <% @game.players.each do |player| %>
          <li id="user-<%= player.user.id %>"><%= player.user.name %></li>
        <% end %>
      </ul>
    </section>
  <% else %>
    <h2>This game is <%= @game.status %> and can no longer be joined.</h2>
  <% end %>
  
</div>
<script>
var redirected = false;
App.cable.subscriptions.create({channel: "RoomChannel", game_id: <%= @game.id %>}, {
  received: (data) => {
    let playerList = $('#player-list');
    if (data.added_user) {
      let user = data.added_user;
      playerList.append($('<li>').text(user.name).attr("id", `user-${user.id}`));
    }
    else if (data.removed_user) {
      let user = data.removed_user;
      playerList.find(`#user-${user.id}`).remove();
    }
    else if (data.game_start){
      let game = data.game_start.game
      if (redirected === false){
        window.location.replace("http://localhost:3000/games/"+game.id+"/play_game")
       redirected = true;
     }

    }
  }
})




</script>
