
  <h3>Game ID: <%= @game.id %></h3>
  <h1>
    Welcome to <%=@game.owner.first_name %>'s game!
  </h1>
  <% if @game.pending? %>
    <section id="controls" class="col-md-6 col-md-offset-0">
      <% if @game.owner == current_user %>
        <%= button_to "Start the game!", game_play_game_path(@game), method: :get %>
      <% else %>
        <% if @player %>
          <%= button_to "Leave this game!", game_player_path(@game, @player), method: :delete %>
        <% else %>
          <%= button_to "Join this game!", game_players_path(@game) %>
        <% end %>
      <% end %>
    </section>
    <section id="wait-list">
 
      <h2>Currently Waiting Players:</h2>
      <ul id="player-list">
        <% @game.players.each do |player| %>
          <li id="user-<%= player.user.id %>"><%= player.user.name %></li>
        <% end %>
      </ul>
      <blockquote class= "example-twitter">hello </blockquote>
    
    </section>
    <script>subscribeRoomChannel(<%= @game.id %>)</script>
  <% elsif @game.active? %>
    <% if @player %>
      <%= render 'games/active' %>
      <script>beginGame(<%= @game.id %>)</script>
    <% else %>
      <h2>Game started without you.<h2/>
    <% end %>
  <% else %>
    <h2>Game is over. Winner is <%= @game.winner.name %>.</h2>
  <% end %>

       