<div class="container">
  Game ID: <%= @game.id %>
  <h1>
    Welcome to <%=@game.owner.first_name %>'s game!
  </h1>
  <% if @game.owner.id == @user.id %>
  <div class="col-md-6 col-md-offset-0">
    <%= form_tag(game_play_game_path(@game), method: "get") do %>
    <%= submit_tag "Start the game!" %>
    <% end %>
  </div>
  <% end %>
</div><br>

<div class="container">
  <div class="jumbotron" id="player-queue">
    <div id="waiting-players">
      Currently Waiting Players:
      <table id="player-list"></table>
      <% if @game.users.include?(@user) && @game.owner != @user %>
      <%= form_tag(game_path(@game), method: "patch") do %>
      <%= submit_tag "Leave this game!" %>
      <% end %>
      <% end %>
    </div>

    <% unless @game.owner == @user || @game.users.include?(@user) %>
      <%= form_tag(edit_game_path(@game), method: "get") do %>
                        <%= submit_tag "Join this game!" %>
                        <% end %>
    <% end %>
  </div>
</div>
