<header class="main-header">
  <nav class="navbar navbar-static-top">
    <div class="container">
      <div class="navbar-header">
          <%= link_to 'TRIXIE', root_url,  class:"navbar-brand" %>
      </div>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <% if current_user %>
            <li> <%= link_to "Welcome "+current_user.name, user_dashboard_path, id: "Dashboard" %></li>
            <li> <%= link_to image_tag current_user.image,class: "img-circle" %></li>
            <li> <%= link_to "Sign out", signout_path, id: "sign_out" %></li>
          <% else %>
            <li> <%= link_to "Login ", new_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
