<!DOCTYPE html>
<html>
  <head>
    <title>TricksyHobbit</title>
    
    <%= csrf_meta_tags %>
     <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://intercoolerreleases-leaddynocom.netdna-ssl.com/intercooler-0.9.6.min.js"></script>
   
    <link src="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body role="document">
  
    <%= render 'layouts/navbar' %>
    <main>
    <%= yield %>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
