<!DOCTYPE html>
<html>
  <head>
    <title>TricksyHobbit</title>
    
    <%= csrf_meta_tags %>
    
    <link src="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body class="hold-transition skin-blue layout-top-nav">
    <div class="wrapper">
  <!-- Full Width Column -->
          <%= render 'layouts/navbar' %>
             <%= yield %>
          <%= render 'layouts/footer' %>
        </div>
      </div>
    </div>
  </body>
</html>
