<!DOCTYPE html>
<html>
  <head>
    <title>TricksyHobbit</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/navbar-fixed-top.css">
    <link rel="stylesheet" href="/stylesheets/application.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render 'layouts/navbar' %>
  
  <% if current_user %>
    Signed in as <strong><%= current_user.name %></strong>!
    Image: <%= image_tag current_user.image %>
     

    
    <%= current_user.invite_friends %>




    <%= link_to "Sign out", signout_path, id: "sign_out" %>
  <% else %>
    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
      <%= link_to "Sign in with Twitter", "/auth/twitter", id: "sign_in" %>
  <% end %>


  <%= yield %>
  </body>
</html>
