<!DOCTYPE html>
<html>
  <head>
    <title>TricksyHobbit</title>
    
    <%= csrf_meta_tags %>
    <link href='https://fonts.googleapis.com/css?family=Satisfy|Ubuntu|Droid+Serif' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>
    <link src="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>
  <!-- Full Width Column -->
          <%= render 'layouts/navbar' %>
             <%= yield %>
          <%= render 'layouts/footer' %>
        </div>
      </div>
    </div>
  </body>
</html>
